/*
* Stephanie Law - Portfolio
* base.css
*/

/* Global Styles */
html,
body {
    width: 100%;
    height: 100%;
}

body {
    font-family: 'VT323', sans-serif;
    font-size: 2.15em;
}

.text-vertical-center {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.text-vertical-center h1 {
    margin: 0;
    padding: 0;
    font-size: 2.5em;
    color: #000;
    text-shadow: 1px 2px 2px #fff;
}

.text-vertical-center h3 {
    font-size: 1.75em;
    color: #000;
    text-shadow: 1px 2px 2px #fff;
}

hr {
    width: 75%;
}

/* Article Styles */

/* Mobile Portrait */
@media (max-width: 320px) {
    article {
        width: 90%;
    }
}

/* Mobile Landscape */
@media (max-width: 480px) {
    article {
        width: 80%;
    }
}

/* Tablet Portrait */
@media (max-width: 768px) {
    article {
        width: 80%;
    }
}

/* Tablet Landscape */
@media (max-width: 1024px) {
    article {
        width: 70%;
    }
}

/* Desktop */
@media (min-width: 1025px) {
    article {
        width: 50%;
    }
}

article {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: rgba(255,255,255,0.4);
    margin-right: auto;
    margin-left: auto;
    display: block;
}

/* Button Styles */
.btn-dark {
    border-radius: 0;
    color: #fff;
    text-shadow: 1px 2px 2px #000;
    background-color: rgba(0,0,0,0.6);
    font-size: 1em;
}

.btn-dark:hover,
.btn-dark:focus,
.btn-dark:active {
    color: #fff;
    background-color: rgba(0,0,0,0.95);
    outline: none !important;
}

.btn-light {
    border-radius: 0;
    color: #000;
    text-shadow: 1px 2px 2px #fff;
    background-color: rgba(255,255,255,0.8);
    font-size: 1em;
}

.btn-light:hover,
.btn-light:focus,
.btn-light:active {
    color: #000;
    background-color: rgba(255,255,255,0.2);
    outline: none !important;
}

/* Side Menu */
#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    right: 0;
    width: 250px;
    height: 100%;
    margin-right: -250px;
    overflow-y: auto;
    background: #000;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -ms-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #fff;
    text-shadow: 1px 2px 2px #000;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #FFF;
    background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 55px;
    font-size: 18px;
    line-height: 55px;
}

.sidebar-nav > .sidebar-brand a {
    color: #FFF;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #FFF;
    background: none;
}

#menu-toggle {
    z-index: 1;
    position: fixed;
    top: 0;
    right: 0;
}

#sidebar-wrapper.active {
    right: 250px;
    width: 250px;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -ms-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}

.toggle {
    margin: 5px 5px 0 0;
}

/* Header */
.header {
    display: table;
    position: relative;
    width: 100%;
    height: 100%;
    background-image: url(https://cloud.githubusercontent.com/assets/10453044/12729045/c73fc1bc-c8f2-11e5-9b25-b42d3777d44a.gif);
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

/* About */
.about {
    display: table;
    position: relative;
    width: 100%;
    height: 100%;
    padding: 50px 0;
}

.about .container {
    display: table-cell;
    vertical-align: middle;
}

.about h2 {
    font-size: 2.5em;
    color: #000;
    text-shadow: 1px 2px 2px #fff;
}

.about h3 {
    font-size: 1.75em;
    color: #000;
    text-shadow: 1px 2px 2px #fff;
}

.about .profile {
    min-height: 355px;
    display: inline-block;
}

.about .profile figure img {
    display: block;
    vertical-align: middle;
    margin-right: auto;
    margin-left: auto;
    -webkit-box-shadow: 0px 2px 6px 2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 6px 2px rgba(0,0,0,0.75);
    box-shadow: 0px 2px 6px 2px rgba(0,0,0,0.75);
}

.about .skills {
    list-style-type: none;
    padding-left: 0;
}

.about span {
    font-size: 1.2em;
    color: #000;
    text-shadow: 1px 2px 2px #fff;
}

/* Credentials */
.credentials {
    display: table;
    position: relative;
    width: 100%;
    height: 100%;
    background-image: url(https://cloud.githubusercontent.com/assets/10453044/12728988/7676ee2c-c8f2-11e5-9fd5-7d5758d0987c.gif);
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.credentials .container {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.credentials-item {
    margin-bottom: 30px;
}

.credentials h2 {
    font-size: 2.5em;
    color: #000;
    text-shadow: 1px 2px 2px #fff;
}

.credentials span, .credentials h4 {
    font-size: 1.2em;
    color: #000;
    text-shadow: 1px 2px 2px #fff;
}

.credentials-item .icons {
    width: 55px;
    height: 55px;
}

.credentials iframe {
    width: 80%;
    height: 80%;
}

/* Portfolio */
.portfolio {
    display: table;
    position: relative;
    width: 100%;
    height: 100%;
}

.portfolio .container {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.portfolio-item {
    margin-bottom: 30px;
}

.portfolio h2 {
    font-size: 2.5em;
    color: #000;
    text-shadow: 1px 2px 2px #fff;
}

.portfolio h3 {
    font-size: 1.2em;
    color: #000;
    text-shadow: 1px 2px 2px #fff;
}

.portfolio img {
    -webkit-box-shadow: 0px 2px 6px 2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 6px 2px rgba(0,0,0,0.75);
    box-shadow: 0px 2px 6px 2px rgba(0,0,0,0.75);
}

.portfolio .container {
    display: block;
    margin-right: auto;
    margin-left: auto; 
}

.portfolio .panel-image {
    position: relative;   
}

.portfolio .panel-image img.panel-image-preview {
    width: 100%;
    border-radius: 4px 4px 0px 0px;
}

.portfolio .panel-image label {
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
}

.portfolio .panel-heading ~ .panel-image img.panel-image-preview {
    border-radius: 0px;
}

.portfolio .panel-body {
    overflow: hidden;
}

.portfolio .panel-image ~ input[type=checkbox] {
    position:absolute;
    top:- 30px;
    z-index: -1;   
}

.portfolio .panel-image ~ input[type=checkbox] ~ .panel-body {
    height: 0px;
    padding: 0px;
}

.portfolio .panel-image ~ input[type=checkbox]:checked ~ .panel-body {
    height: auto;
    padding: 15px;
}

.portfolio .panel-image ~ .panel-footer a {
    padding: 0px 10px;
    font-size: 1.3em;
    color: rgb(100, 100, 100);
}

/* Contact */
.contact {
    display: table;
    position: relative;
    width: 100%;
    height: 100%;
    background-image: url(https://cloud.githubusercontent.com/assets/10453044/12729036/baddab8c-c8f2-11e5-9cd1-396177c46078.png);
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    color: #000;
    font-size: 1em;
}

.contact .container {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    color: #000;
    text-shadow: 1px 2px 2px #fff;
}

.contact h2 {
    font-size: 2.5em;
}

.contact h4 {
    font-size: 1.5em;
}

.contact p {
    font-size: 1.25em;
    color: #000;
}

.contact address a {
    color: #000;
}

/* Footer */
footer {
    padding: 20px 0;
    font-size: .75em;
    background-color: #000;
    color: #FFF;
}
